body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px 0 0 15px;
  margin-right: 5px;
}

input {
  flex: 1;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 15px 0 0 15px;
  margin-right: 5px;
}

button {
  padding: 8px 10px;
  border: none;
  border-radius: 0px 15px 15px 0px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
}

.replyBtn {
  border-radius: 5px;
  padding: 5px 10px;

}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reply-container {
  margin-left: 20px;
  margin-top: 20px;
}
